<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Add Question</title>
</head>

<body>

<h2>Add Question</h2>

<form th:action="@{/admin/save}"
      th:object="${question}"
      method="post">

  <label>Question:</label>
  <input type="text"
         th:field="*{questionTitle}"
         required>

  <br><br>


  <label>Option A:</label>
  <input type="text"
         th:field="*{optionA}"
         required>

  <br><br>


  <label>Option B:</label>
  <input type="text"
         th:field="*{optionB}"
         required>

  <br><br>


  <label>Option C:</label>
  <input type="text"
         th:field="*{optionC}"
         required>

  <br><br>


  <label>Option D:</label>
  <input type="text"
         th:field="*{optionD}"
         required>

  <br><br>


  <label>Correct Answer:</label>

  <select th:field="*{correctAnswer}" required>

    <option value="">Select Answer</option>

    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>

  </select>

  <br><br>


  <!-- CATEGORY -->

  <label>Category:</label>

  <select th:field="*{category}" required>

    <option value="">
      Select Category
    </option>

    <option th:each="category : ${categories}"
            th:value="${category.id}"
            th:text="${category.name}">
    </option>

  </select>

  <br><br>


  <button type="submit">
    Save Question
  </button>

</form>

<br>

<a th:href="@{/admin/questions}">
  View Questions
</a>

<br><br>

<a th:href="@{/admin/categories}">
  Manage Categories
</a>

</body>

</html>